{% extends 'crono/layout_login.html' %}
{% load staticfiles %}

{% block head %}

{% endblock %}

{% block title %}Sites Information{% endblock %}
{% block subtitle %}Sites visited by users{% endblock %}

{% block content %}

	{% if state_code == 0 %}
		<div class="alert alert-dismissable alert-info loginmsg" style="width: 520px;">{{ state }}</div>
	{% elif state_code == 1 %}
		<div class="alert alert-dismissable alert-danger loginmsg" style="width: 520px;">{{ state }}</div>
	{% endif %}

	<div id="loginbox">
		<form action="/accounts/login/" method="post" role="form">{% csrf_token %}
			{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}
			<label>Username</label>
			<input type="text" name="username" value="{{ username}}" class="form-control" style="width: 460px;"/><br />
			<label>Password</label>
			<input type="password" name="password" value="" class="form-control" style="width: 460px;" /><br />
			<input type="submit" value="Log In" class="btn btn-primary"/>
		</form>
	</div>

{% endblock %}